.slides {
	display: none;
}

.left, .righ, .badge {
	cursor: pointer;
}

.left {
	float: left;
}

.right {
	float: right;
}

.center {
	float: center;
}

.fleches {
	color: white;
	font-size: 30px;
}

.badge {
	height: 13px;
	width: 13px;
	padding: 0;
}